@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
    font-family: Raleway;
    background-color: black;
    margin-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}


  